@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* header-section start */
#header-section {
  width: 1600px;
  margin: 0 auto;
}

.nav-section {
  display: flex;
  justify-content: space-between;
}

.nav-section .title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 160px;
}

.nav-section .btn {
  padding-top: 31px;
  padding-bottom: 31px;
  padding-right: 160px;
}

.nav-section .btn button {
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  padding: 15px;
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  width: 180px;
}

.hero-section {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  width: 1280px;
  height: 560px;
  margin-left: 160px;
  margin-right: 160px;
  display: flex;
  justify-content: space-between;
}
.hero-content {
  width: 622px;
  height: 326px;
  margin-top: 117px;
  margin-bottom: 117px;
  margin-left: 60px;
}
.hero-content .subtitle {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
}
.hero-content .title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
}
.hero-content .btn {
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  margin-top: 20px;
}
.hero-img img {
  width: 474.03px;
  height: 329.21px;
  margin-top: 80px;
  margin-right: 60px;
}
/* header-section end */

/* main start*/
#main-section {
  width: 1600px;
  margin: 0 auto;
}

/* pillars-section start  */
#pillars-section {
  width: 1280px;
  height: 324px;
  margin-left: 160px;
  margin-right: 160px;
}
#pillars-section .pillars-content h2 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  margin: 30px;
}
.pillars-cart {
  display: flex;
  margin-left: 30px;
  gap: 20px;
}
.pillars-cart .cart {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  width: 302px;
  height: 244px;
}

.pillars-cart .cart img {
  padding: 10px;
}
.pillars-cart .cart h3 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.pillars-cart .cart p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}
/* pillars-section end  */

/* vision-section start  */
#vision-section {
  width: 1280px;
  /* height: 765px; */
  margin-left: 160px;
  margin-right: 160px;
}
.vision-content h3 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  margin: 30px;
}
.vision-content p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  margin: 30px;
}
.vision-cart {
  display: flex;
  margin-left: 30px;
  gap: 20px;
}
.vision-cart .cart {
  box-sizing: border-box;
  border-radius: 16px;
}

.bg-cart1 {
  background: rgba(84, 144, 245, 0.2);
}
.bg-cart2 {
  background: rgb(198, 228, 214);
}
.bg-cart3 {
  background: rgb(247, 235, 207);
}

.vision-cart .cart img {
  padding: 10px;
}
.vision-cart .cart h3 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.vision-cart .cart p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}
.vision-cart .cart .button1 {
  border-radius: 8px;
  background: rgb(84, 144, 245);
  padding: 10px;
  margin: 10px;
}
.vision-cart .cart .button2 {
  border-radius: 8px;
  background: rgb(9, 161, 92);
  padding: 10px;
  margin: 10px;
}
.vision-cart .cart .button3 {
  border-radius: 8px;
  background: rgb(255, 194, 57);
  padding: 10px;
  margin: 10px;
}

#vision-section .vision-description {
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  margin: 40px;
}
#vision-section .vision-description p {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 10px;
}
#vision-section .vision-description h4 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
}
#vision-section .vision-description h5 {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
}

/* vision-section end  */

/* opinion-section start  */
#opinion-section {
  width: 1280px;
  margin-left: 160px;
  margin-right: 160px;
}
#opinion-section .opinion-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  margin-left: 30px;
}

.opinion-description .table {
  margin: 30px;
  width: 100%;
  border-collapse: collapse;
}

.opinion-description .table .row {
  height: 72px;
}
.opinion-description .table .row th {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
  text-align: left;
  padding-left: 10px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
}

.opinion-description .table .row td {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}

.opinion-description .table td,
th {
  border: 1px solid black;
}

.opinion-description .table .row select {
  box-sizing: border-box;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background: rgb(198, 228, 214);
  padding: 15px;
}

.opinion-description .table .row .agree {
  text-align: center;
}
/* opinion-section end  */

/* recent-news-section start  */
#recent-news-section {
  width: 1280px;
  margin-left: 160px;
  margin-right: 160px;
}
.recent-news-content1 {
  margin: 30px;
}
.recent-news-content1 h3 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
}
.recent-news-content1 p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
}

.recent-news-content2 {
  width: 1280px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  margin: 30px;
  display: flex;
  gap: 30px;
}

.recent-news-content2 .img img {
  width: 408px;
  height: 306px;
  border-radius: 24px;
}

.recent-news-content2-description h3 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  padding: 5px;
}

.recent-news-content2-description img {
  padding: 5px;
}
.recent-news-content2-description h5 {
  padding: 5px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
}
.recent-news-content2-description h5 span {
  margin-left: 20px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
}
.recent-news-content2-description p {
  padding: 5px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
}
.recent-news-content2-description button {
  padding: 15px;
  width: 150px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  margin-left: 5px;
  margin-top: 30px;
}
/* recent-news-section end  */

/* donate-section start  */
#donate-section {
  width: 1280px;
  margin-left: 160px;
  margin-right: 160px;
  text-align: center;
}
.donate-section-content {
  margin: 30px;
}

#donate-section h3 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
}

#donate-section p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}
#donate-section .button .button1 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 30px;
  width: 150px;
}
#donate-section .button .button2 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(198, 228, 214);
  padding: 30px;
  width: 150px;
}
#donate-section .button .button3 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(219, 118, 118);
  padding: 30px;
  width: 150px;
}
#donate-section .button .button4 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(170, 136, 136);
  padding: 30px;
  width: 150px;
}
.amount-button button {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  padding: 30px;
  margin: 30px;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  width: 500px;
}
.btn-done {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 10px;
  width: 150px;
  margin-bottom: 30px;
}
/* donate-section end  */

/* subscribe-section start  */
#subscribe-section {
  width: 1280px;
  margin-left: 160px;
  margin-right: 160px;
  text-align: center;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 20px;
}
#subscribe-section h3 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
}
#subscribe-section p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0px 20px 0px;
}
#subscribe-section div {
  width: 650px;
  display: flex;
  margin: 0 auto;
}
#subscribe-section div .input {
  border-radius: 8px 0px 0px 8px;
  background: rgb(255, 255, 255);
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  width: 502px;
  margin-left: 20px;
}

#subscribe-section div .button {
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  width: 150px;
  margin-right: 20px;
}
/* subscribe-section end  */

/* main end  */

/* footer start  */
#footer-section {
  width: 1600px;
  margin: 0 auto;
}
.footer-section {
  width: 1280px;
  margin-left: 160px;
  margin-right: 160px;
  text-align: center;
  padding: 30px;
}

.footer-section h3 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  padding: 30px;
}
.footer-section hr {
  margin-bottom: 30px;
}
.footer-section .icons a {
  padding: 10px;
}
/* footer end  */
